name: vintagestory-custom
services:
  vintagestory:
    image: ghcr.io/joshevans-weber/vs-custom:latest
    container_name: vs-server
    restart: always
    ports:
      - "42420:42420/udp"
      - "7681:7681"
    volumes:
      - /DATA/AppData/vintagestory/data:/vintagestory/data
    environment:
      - WORLDCONFIG_MOVE_SPEED=${MOVE_SPEED:-1.5}
      - WORLDCONFIG_CREATURE_HOSTILITY=${HOSTILITY:-aggressive}
      - UID_NUMBER=${UID_NUMBER:-1100}
      - GID_NUMBER=${GID_NUMBER:-1100}
      - OPENAI_API_KEY=${OPENAI_KEY}
    stdin_open: true
    tty: true

x-casaos:
  architectures:
    - amd64
  main: vintagestory
  icon: https://raw.githubusercontent.com/JoshEvans-Weber/casaos-store/main/Apps/vintagestory-custom/icon.png
  screenshot_link:
    - https://raw.githubusercontent.com/JoshEvans-Weber/casaos-store/main/Apps/vintagestory-custom/screenshot-1.png
  title:
    en_us: "Vintage Story (Josh's Cloud)"
  description:
    en_us: "Custom server with terminal and June settings."
  category: "Games"
  developer: "JoshEvans-Weber"
  port_map: "7681"
