name: "vintagestory-custom"
services:
  vintagestory:
    image: ghcr.io/joshevans-weber/vintagestory-custom:latest
    container_name: vs-server
    restart: always
    ports:
      - "42420:42420/udp"
      - "7681:7681"
    volumes:
      - /DATA/AppData/vintagestory/data:/vintagestory/data
    environment:
      - SERVICE=VintagestoryServer.dll
      - TERMINAL_USER=${TERMINAL_USER:-admin}
      - TERMINAL_PASS=${TERMINAL_PASS:-password}
    stdin_open: true
    tty: true
x-casaos:
  architectures: ["amd64"]
  main: vintagestory
  title: { en_us: "Vintage Story (Custom)" }
  port_map: "7681"
  version: "20260124-1002"
