name: vintagestory-custom
services:
  vintagestory:
    image: ghcr.io/joshevans-weber/vs-custom:latest
    container_name: vs-server
    restart: always
    ports:
      - "42420:42420/udp"
      - "7681:7681"
    volumes:
      - /DATA/AppData/vintagestory/data:/vintagestory/data
    environment:
    # --- SERVER IDENTITY ---
      - SERVER_NAME=${SERVER_NAME:-Vintage Story Server}
      - WORLD_NAME=${WORLD_NAME:-Vintage Story World}
      - WELCOME_MESSAGE=${WELCOME_MESSAGE:-Welcome {0}, may you survive well and prosper}
      - SERVER_DESCRIPTION=${SERVER_DESCRIPTION}
      - SERVER_PASSWORD=${SERVER_PASSWORD}
      # --- CORE GAMEPLAY ---
      - PLAY_STYLE=${PLAY_STYLE:-surviveandbuild}
      - WORLDCONFIG_GAME_MODE=${GAME_MODE:-survival}
      - WORLDCONFIG_CREATURE_HOSTILITY=${HOSTILITY:-aggressive}
      - WORLDCONFIG_MOVE_SPEED=${MOVE_SPEED:-1.5}
      - WORLDCONFIG_PLAYER_HEALTH=${PLAYER_HEALTH:-15}
      - WORLDCONFIG_DEATH_PUNISHMENT=${DEATH_PUNISHMENT:-drop}
      # --- WORLD RULES ---
      - ALLOW_CREATIVE_MODE=${ALLOW_CREATIVE_MODE:-false}
      - ALLOW_PVP=${ALLOW_PVP:-true}
      - ALLOW_FIRE_SPREAD=${ALLOW_FIRE_SPREAD:-true}
      - WORLDCONFIG_ALLOW_MAP=${ALLOW_MAP:-true}
      - WORLDCONFIG_ALLOW_COORDINATES=${ALLOW_COORDS:-true}
      - WORLDCONFIG_TEMPORAL_STORMS=${TEMPORAL_STORMS:-sometimes}
      - MAX_CLIENTS=${MAX_CLIENTS:-9999}
      - SAVE_FILE_LOCATION=${SAVE_FILE_LOCATION:-/vintagestory/data/Saves/default.vcdbs}
      - UID_NUMBER=${UID_NUMBER:-1100}
      - GID_NUMBER=${GID_NUMBER:-1100}
      - OPENAI_API_KEY=${OPENAI_KEY}
    stdin_open: true
    tty: true

x-casaos:
  architectures:
    - amd64
  main: vintagestory
  icon: https://raw.githubusercontent.com/JoshEvans-Weber/casaos-store/main/Apps/vintagestory-custom/icon.png
  screenshot_link:
    - https://raw.githubusercontent.com/JoshEvans-Weber/casaos-store/main/Apps/vintagestory-custom/screenshot-1.png
  title:
    en_us: "Vintage Story (Josh's Cloud)"
  description:
    en_us: "Custom server with terminal and June settings."
  category: "Games"
  developer: "JoshEvans-Weber"
  port_map: "7681"
