name: "vintagestory-custom"
services:
  vintagestory:
    image: ghcr.io/joshevans-weber/vintagestory-custom:latest
    container_name: vs-server
    restart: always
    ports:
      - "42420:42420/udp"
    volumes:
      - /DATA/AppData/vintagestory/data:/vintagestory/data
    environment:
      - SERVICE=VintagestoryServer.dll
    stdin_open: true
    tty: true
x-casaos:
  architectures: ["amd64"]
  main: vintagestory
  title: { en_us: "Vintage Story (Baseline)" }
  version: "20260124-1010"
